body {
  font-family: Arial, Helvetica, sans-serif;
  color: #dedede;
}
h1 {
  background-color: #111111;
  padding: 20px;
  margin-left: -20px;
  width: 100vw;
}
label {
  margin-bottom: 10px;
}
input,
textarea {
  -webkit-appearance: none;
  border: 1px solid #dedede;
  background-color: #333333;
  color: #dedede;
  border-radius: 8px;
  font-size: 18px;
  line-height: 40px;
  padding: 0 16px;
}
.title-link {
  padding: 20px;
  background-color: #111111;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: -20px;
  border-radius: 0 20px 20px 0;
}
.title-link a,
.default-link {
  color: #1399ff;
  text-decoration: none;
}
.form-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.form-data {
  padding: 40px;
  border-radius: 8px;
  border: 1px dashed #dedede;
}
.form-data span {
  margin-bottom: 20px;
}
